@{
    ViewBag.Title = "PropTech";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenido...</h1>
        <p class="lead">
            Me complace darle la bienvenida a nuestra plataforma de tecnología inmobiliaria diseñada para facilitar todas sus necesidades 
            relacionadas con bienes raíces. 
        </p>
    </section>

</main>